body {
    background-color: white;
}

footer {
    margin-top: 10px;
    background: lightblue;
    padding: 10px;
    border: solid 1px black;
}

.container {
    background: lightblue;
    padding: 10px;
    border: solid 1px black;
}

.info_block {
    border: solid 5px black;
    margin: 10px 0px 10px 0px;
    padding: 15px;
}

.menu {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: black;
}